/* ----------------------
    Mobile Screen
  --------------------- */

@media only screen and (max-width: 576px) {
  .section-title {
    text-align: center;
  }
  .top-players {
    grid-template-columns: repeat(1, 1fr);
  }
  .player {
    flex-direction: column;
  }
  .player .player-img img {
    width: 150px;
    height: 150px;
  }
  .player-name {
    font-size: 20px;
    margin: 10px 0 20px;
  }
  .top-blogs {
    grid-template-columns: repeat(1, 1fr);
  }
  .blog {
    flex-direction: column;
    align-items: center;
  }
  .blog .blog-img img {
    width: 100%;
  }
  .blog-details {
    width: 100%;
    margin-bottom: 20px;
  }
  .latest-courses {
    grid-template-columns: repeat(1, 1fr);
  }
  .course {
    margin-bottom: 40px;
  }
  .course .course-img img {
    width: 100%;
  }
}

/* ----------------------
    Medium Screen
  --------------------- */

@media only screen and (min-width: 577px) and (max-width: 992px) {
  .top-players {
    grid-template-columns: repeat(2, 1fr);
  }
  .top-blogs {
    grid-template-columns: repeat(1, 1fr);
  }
  .blog .blog-img img {
    width: 300px;
  }
  .latest-courses {
    grid-template-columns: repeat(1, 1fr);
  }
  .course-info {
    width: 300px;
  }
  .course .course-img img {
    width: 80vw;
  }
  .course {
    margin-bottom: 80px;
  }
}
