@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");

/* ----------------------
    Default Styles
  --------------------- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins";
}

/* ----------------------
    Common Design Start
  --------------------- */
body {
  background-color: #e5e5e5;
}
.container {
  max-width: 1240px;
  margin: 20px auto;
  padding: 50px;
  background-color: #ffffff;
  border-radius: 7px;
}

/* ----------------------
    Top player And Top Blog
  --------------------- */

.section-title {
  margin-bottom: 40px;
  color: #562eff;
  font-weight: 800;
  font-size: 30px;
}
.top-players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.player {
  display: flex;
  align-items: center;
}
.player .player-img img {
  width: 70px;
  height: 70px;
  cursor: pointer;
}
.player-name {
  color: #101010;
  cursor: pointer;
  margin-left: 10px;
  font-weight: 400;
  font-size: 18px;
}
